body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.article-img {
  width: 600px;
}

.main-article {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border: 1px solid black;
  width: 600px;
  text-align: start;
  justify-self: center;
  margin-left:20px ;
}

.article-setting-description {
  margin-left: 10px;
}

.article-button {
  padding: 10px;
  background: white;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}

.article-button:hover {
  background-color: black;
  color: white;
}

.second-part-article {
  display: flex;
  justify-self: center;
}

footer {
  display: block;
  padding: 0;
  margin: 0;
  border-top: 1px solid black;
  margin-top: 50px;
}

.footer-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.footer-list-link {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

.footer-list-link:hover {
  border-bottom:1px solid black ;
}